// Colors
$primary-background-color: #dcdfe5;
$primary-font-color: #535353;
$primary-color: #0b97ed;
$secondary-color: #1a6391;
$tertiary-color: #133445;
$quarternary-color: #1995AD;
$danger-color: #f44336;
$success-color: #4CAF50;
$disable-color: #e7e7e7;
$done-color: #555555;

// document size
$container-width: 75%;
$container-width-fluid: 90%;
$container-width-block: 95%;

$min-width: 500px;

// fonts
$font-stack: Helvetica, sans-serif;
